@import url('https://fonts.googleapis.com/css2?family=Anton');

/* id- # and class . */


#content {
    max-width: 1600px;
    margin: 0 auto;
}
header {
    background-color:yellow;
    display: grid;
    grid-template-columns: 150px 1fr ;
    font-size: 30px;
    
}

.logo{

  width: 150px;
  margin-top: 8px;
  margin-left: 8px;
  

}

nav
{

  display: flex;
  justify-content: space-around;
  
}


nav a{
  text-align: center;
  margin: 0 auto;
  color:black;
  padding-top: 55px;
  }
  

  nav a:hover {
      background-color:green;
      color:white;
  }
  

body{
    background-color: black;
    font-family: "Times New Roman", sans-serif, courier;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    color: white
    
}

#main_paragraph {
  padding-left: 20px;
  padding-right: 20px;
}

.jamaica{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


  .blue_hole{
   
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 75%;
      padding-bottom: 10px;
    }


.ackee{
   
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  padding-bottom: 10px;
  padding-top: 10px;
}

.headings_tourist{
  background-color: yellow;
  font-family: "Times New Roman", sans-serif, courier;
  font-size: 20px;
  text-align: center;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;

}


.headings_food{
  background-color:green;
  font-family: "Times New Roman", sans-serif, courier;
  font-size: 20px;
  text-align: center;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;


}


.about-title{
    
    font-family: "Anton", Arial, Helvetica;
        
    font-size: 2em;
    margin-top: 30px;
    color: green;
    text-align: center;
     
}



.tourist{

  font-family: "Anton", Arial, Helvetica;
        
  font-size: 2em;
  margin-top: 30px;
  color: green;
  text-align: center;

}


footer{
  
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: green;
  color:black;
  display: flex;
  justify-content:space-between;
  margin-top: 75px;
  
  
}

.sub-headings{

  text-decoration: underline;

}


.flag{

  width: 100px;
  padding-right: 10px;
  padding-top: 5px;
 

}

.copy_right{

  padding-left: 10px;
}


* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }




  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }


